$background: #31363b;
$backgroundTabs: #00000000;
$backgroundNavbar: #212529;

$navHover: #272a33;

$accent: #72bf8d;
$accentSecond: #99e5b3;

$fontTextBright: #eeeeee;
$fontTextDark: #8f949d;
$fontText: #d0d5df;
$fontTextBrightInvert: #111111;

$borderLight: #ffffff1a;
$inputBackground: #0000004d;

$scrollbarHandle: #37333a;