$background: #2c292e;
$backgroundTabs: #00000000;
$backgroundNavbar: #221f22;

$navHover: #2e292e;

$accent: #ffd866;
$accentSecond: #ffe79d;

$fontTextBright: #eeeeee;
$fontTextDark: #8f949d;
$fontText: #d0d5df;
$fontTextBrightInvert: #111111;

$borderLight: #ffffff1a;
$inputBackground: #0000004d;