$background: hsl(285, 5%, 17%);
$backgroundTabs: #00000000;
$backgroundNavbar: #221f22;

$navHover: hsl(300, 5%, 17%);

$accent: hsl(345, 100%, 69%);
$accentSecond: hsl(346, 67%, 76%);

$fontTextBright: #eeeeee;
$fontTextDark: #8f949d;
$fontText: #d0d5df;
$fontTextBrightInvert: #111111;

$borderLight: #ffffff1a;
$inputBackground: #0000004d;