// @import './_themeDark.scss';
@import './_themeMidnight.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto+Mono&display=swap');

$fontFamily: "Inter",-apple-system,BlinkMacSystemFont,"Helvetica Neue","Roboto",Roboto,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$fontHeading: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Roboto",Roboto,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$fontPost: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Roboto",Roboto,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$fontCode: Menlo,"Roboto Mono",Courier New,monospace;

$pageWidth: 850px;
$navbarWidth: 80px;
$navbarHeight: 60px;
$footerHeight: 28px;
$headerHeight: 35px;

::marker {
    color: $accent;
}

::selection {
    background: $accent;
    color: $fontTextBrightInvert;
}

::-webkit-scrollbar {
    background: $backgroundNavbar;
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #464e5f;
    border-radius: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

.desktop-only { 
    display: block!important;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: $fontFamily;
    background-color: $background;
    color: $fontText;
    font-size: 1rem;
    line-height: 1.65;
    margin: 0;
}

main {
    background: $background;
    margin-top: $navbarHeight;
}

h1 {
    color: $accent;
    font-family: $fontHeading;
    line-height: 1.2;
    margin: 0 0 1.5rem;
    scroll-margin-top: 60px;
}

h3, h4, h5 {
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    color: $accent;
    font-family: $fontHeading;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 1.5rem;
    scroll-margin-top: 80px;
}

blockquote, ol, p, table, ul {
    color: $fontText;
    font-size: 1.1rem;
    margin: 0 0 2rem;
}

a {
    text-decoration: none;

    &:focus-visible {
        outline: 3px solid $accent;
    }

    &.button {
        background: $accent;
        border: 1px solid $accent!important;
        color: $fontTextBrightInvert;
        display: block;
        padding: 0.5rem 1rem;

        &:hover {
            filter: brightness(1.1)
        }
    }

    &.post {
        grid-gap: 1rem;
        align-items: center;
        border: 1px solid transparent;
        display: grid;
        grid-template-columns: auto 60px;
        margin-left: -1rem;
        margin-right: -1rem;
        padding: 0.4rem 1rem;

        h3 {
            color: $fontText;
            -webkit-filter: brightness(1);
            filter: brightness(1);
            font-family: $fontPost;
            font-size: 1.1rem;
            font-weight: 500;
            margin: 0;
        }

        time {
            display: block;
            font-family: $fontCode;
            color: $fontTextDark;
            font-size: .8rem;
            font-weight: 400;
            text-align: center;
        }

        &.new {
            time {
                color: $accent!important;
            }
        }

        &.new .new-badge {
            color: $accent;
            margin-left: 0.75rem;
            font-family: $fontPost;
        }

        &:hover {
            background: #00000033;
            border: 1px solid transparent;
            border-radius: 8px;
            font-family: $fontPost;

            time {
                color: $fontTextDark;
            }
        }
    }
}

button:focus-visible {
    outline: 3px solid $accent;
}

article {
    padding-bottom: 3rem;

    h1 {
        color: $fontTextBright;
        font-size: 2.6rem;
        font-weight: 600;
        margin-bottom: 0.75rem;
    }

    h2 {
        border-bottom: 1px solid $borderLight;
        font-size: 2rem;
        font-weight: 600;
        padding-bottom: 0.25rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h2, h3, h4, h5 {
        margin: 0 0 1rem;
    }

    header {
        padding-top: 2rem;
        text-align: center;
    }

    a {
        font-weight: 600;
        color: $fontTextBright;
        border-top: 2px solid transparent;
        border-bottom: 2px solid $accent;

        &:hover {
            font-weight: 600;
            background: $accent;
            color: $fontTextBrightInvert;
            border-top: 2px solid $accent;
            border-bottom: 2px solid $accent;
        }
    }

    img {
        display: block;
        max-width: 100%;
    }

    .description {
        color: $fontTextDark;
        font-size: 1.4rem;
        margin-bottom: 0;
        line-height: 1.4;
    }
}

strong {
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex-content {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.navigation {
    background: $backgroundNavbar;
    border-bottom: 1px solid $borderLight;
    height: $navbarHeight;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;

    button:focus {
        outline: none;
    }

    button:focus-visible {
        outline: 3px solid $accent;
    }

    nav {
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 0.6rem;
        height: 100%;

        a {
            align-items: center;
            display: flex;
            justify-content: center;
            border-radius: 8px;
            color: $fontText;
            font-size: .9rem;
            font-weight: 500;
            gap: 0.4rem;
            line-height: 1.1;
            padding: 0.5rem;

            &:hover {
                background: $navHover;
                color: $fontTextBright;
            }

            &.brand {
                font-size: 1rem;
                font-weight: 600;
    
                span {
                    white-space: nowrap;
                }
            }
        }
        
        img {
            max-height: 20px;
            max-width: 25px;
        }
    }
}

.navigation-inner {
    display: flex;
    font-family: $fontPost;
    height: 100%;
    margin: 0 auto;
    max-width: $pageWidth;
    padding: 0.5rem 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.toolbar-section {
    align-items: center;
    display: flex;
    flex: 0 0 116px;
    justify-content: flex-end;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: $pageWidth;
    padding: 2rem;

    .small {
        max-width: 550px;
    }
}

.small {
    max-width: 550px;
}

.hero {
    padding: 1rem 0;

    header {
        padding: 2rem 0 0;
        text-align: left;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 0.75rem;
    }

    p {
        &.subtitle {
            font-size: 1.2rem;
        }
    }

    .hero-buttons {
        display: flex;
        gap: 1.5rem;
    }

    .flex-content {
        align-items: center;
    }
}

.hero-buttons {
    a {
        &.hero-button {
            align-items: center;
            border: none;
            color: $fontTextDark;
            display: flex;
            font-size: 0.9rem;
            gap: 0.4rem;
            justify-content: space-between;

            &:hover {
                background: #00000000;
                border: none;
                color: $fontText;
            }

            img {
                display: block;
                max-height: 18px;
            }
        }
    }
}

.main-image {
    border: 1px solid $borderLight;
    border-radius: 8px;
    height: auto;
    margin-left: 2rem;
    width: 250px;
}

.main-header {
    align-items: center;
    border-bottom: 1px solid $borderLight;
    display: flex;
    justify-content: space-between;

    a {
        font-size: 1rem;
    }
}

.search-bar {
    grid-gap: 1rem;
    align-items: center;
    display: grid;
    grid-template-columns: auto 50px;
}

.search-input {
    -webkit-appearance: none;
    background: $inputBackground;
    border: 1px solid $borderLight;
    border-radius: 8px;
    color: $fontTextBright;
    font-size: 1.1rem;
    line-height: 1.1;
    padding: 0.75rem 1rem;
    width: 100%;

    &:focus {
        outline: none;
        box-shadow: 1px 1px 1px $accent;
        filter: brightness(1.1);
    }

    &:active, &:focus, &:hover {
        border-color: $accent;
    }
}

.highlighted {
    background: $accent;
    color: $fontTextBrightInvert;
}

.search-icon {
    max-width: 30px;
}

.blog-page {
    h2 {
        border-bottom: 1px solid $borderLight;
        margin-top: 2.5rem;
    }
}

.post-details {
    color: $fontTextDark;
    font-family: $fontPost;
    font-size: 0.9rem;
    margin: 0.5rem 0;

    a {
        border-bottom: none;
    }
}

.tags {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-family: $fontPost;
    gap: 0.5rem;
    justify-content: center;
    margin: 1.5rem 0;

    a {
        border: 1px solid $borderLight;
        border-radius: 8px;
        color: $fontTextBright;
        display: inline-block;
        font-size: .9rem;
        font-weight: 600;
        line-height: normal;
        padding: 0.4rem 0.6rem;
        vertical-align: middle;

        &:hover {
            border: 1px solid $accent;
            background: $background;
            color: $accent;
        }
    }
}

.footer {
    background: $backgroundNavbar;
    border-top: 1px solid $borderLight;
    font-family: $fontPost;
    padding: 3rem 0;

    section {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    img {
        display: inline-block;
        max-height: 20px;
        width: auto;
    }

    nav {
        display: flex;
        gap: 0.25rem;
        margin: 0 1rem;
    }

    a, span {
        align-items: center;
        color: $fontTextDark;
        display: flex;
        font-size: .9rem;
        line-height: 1.2;
        padding: 0 0.5rem;
    }

    span {
        color: $fontTextBright;
    }
}

.main-footer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}