@import './_prismjs.css';

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=Inter:wght@400;500;700&family=Merriweather:wght@400;700&display=swap');

$fontFamily: "Inter",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,sans-serif;
$fontHeading: $fontFamily;
$fontPost: $fontFamily;
$fontCode: "IBM Plex Mono",Menlo,monospace;

$pageWidth: 1160px;
$navbarWidth: 80px;
$navbarHeight: 60px;
$footerHeight: 28px;
$headerHeight: 35px;

$background: #31363b;
$backgroundTabs: #00000000;
$backgroundNavbar: #212529;

$navHover: #272a33;
$accent: #72bf8d;
$accentSecond: #99e5b3;
$fontTextBright: #eeeeee;
$fontTextDark: #8f949d;
$fontText: #d0d5df;
$fontTextBrightInvert: #111111;
$borderLight: #ffffff1a;
$inputBackground: #0000004d;
$scrollbarHandle: #37333a;

$gray0: #f8f9fa;
$gray2: #e9ecef;
$gray4: #ced4da;
$gray6: #868e96;
$gray7: #4b5056;
$gray8: #31363b;

::marker {
    color: $accent;
}

::selection {
    background: $accent;
    color: $fontTextBrightInvert;
}

::-webkit-scrollbar {
    background: $backgroundNavbar;
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: $scrollbarHandle;
    border-radius: 0;
}

*,
:after,
:before {
    box-sizing: border-box;
}

.desktop-only {
    display: block !important;
}

.bright {
    color: $fontTextBright;
}

.primary-underline {
    border-bottom: 3px solid $accent;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: $fontFamily;
    background-color: $background;
    color: $fontText;
    font-size: 1rem;
    line-height: 1.65;
    margin: 0;
}

main {
    background: $background;
    margin-top: $navbarHeight;
}

h1 {
    color: $accent;
    font-family: $fontHeading;
    line-height: 1.2;
    margin: 0 0 1.5rem;
    scroll-margin-top: 60px;
}

h1,
h2,
h3,
h4,
h5 {
    color: white;
    font-family: $fontHeading;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 1.5rem;
    scroll-margin-top: 80px;
}

h3,
h4,
h5 {
    font-weight: 400;
}

blockquote,
ol,
p,
table,
ul {
    color: $gray2;
    font-size: 1.1rem;
    margin: 0 0 2rem;
}

a {
    text-decoration: none;

    &.anchor.before {
        border: none;

        svg {
            fill: white;
        }

        &:hover {
            background: transparent;
        }
    }

    &:focus-visible {
        outline: 3px solid $accent;
    }

    &.button {
        align-items: center;
        -webkit-appearance: none;
        background: $gray8;
        border: 2px solid $gray7;
        border-radius: 4px;
        color: $gray2;
        display: inline-flex;
        font-family: $fontFamily;
        font-size: 1rem;
        font-weight: 400;
        gap: .25rem;
        letter-spacing: 0;
        line-height: 1;
        padding: .6rem 1rem;

        &:hover {
            background-color: transparent;
            color: white;
            border-color: $gray6;
        }
    }

    &.post {
        grid-gap: 1rem;
        align-items: center;
        border: 1px solid transparent;
        display: grid;
        grid-template-columns: auto 60px;
        margin-left: -1rem;
        margin-right: -1rem;
        padding: 0.4rem 1rem;

        h3 {
            color: $fontText;
            -webkit-filter: brightness(1);
            filter: brightness(1);
            font-family: $fontPost;
            font-size: 1.1rem;
            font-weight: 500;
            margin: 0;
        }

        time {
            display: block;
            font-family: $fontCode;
            color: $fontTextDark;
            font-size: .8rem;
            font-weight: 400;
            text-align: center;
        }

        &.new {
            time {
                color: $accent !important;
            }
        }

        &.new .new-badge {
            color: $accent;
            margin-left: 0.75rem;
            font-family: $fontPost;
        }

        &:hover {
            background: #00000033;
            border: 1px solid transparent;
            border-radius: 8px;
            font-family: $fontPost;

            time {
                color: $fontTextDark;
            }
        }
    }
}

button:focus-visible {
    outline: 3px solid $accent;
}

article {
    padding-bottom: 3rem;

    h1 {
        color: $fontTextBright;
        font-size: 2.6rem;
        font-weight: 600;
        margin-bottom: 0.75rem;
    }

    h2 {
        font-size: 2rem;
        font-weight: 600;
        padding-bottom: 0.25rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h2,
    h3,
    h4,
    h5 {
        margin: 0 0 1rem;
    }

    header {
        padding-top: 2rem;
        text-align: center;
    }

    a {
        color: $accent;

        &:hover {
            background: $accent;
            color: $fontTextBrightInvert;
        }
    }

    img {
        display: block;
        max-width: 100%;
    }

    .description {
        color: $fontTextDark;
        font-size: 1.4rem;
        margin-bottom: 0;
        line-height: 1.4;
    }
}

blockquote {
    background: #212529;
    border-left: 4px solid $accent;
    border-radius: 8px;
    font-family: $fontPost;
    padding: 1.5rem;

    p {
        margin-bottom: 0;
    }

    ul {
        margin-bottom: 0;
    }
}

strong {
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex-content {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.navigation {
    background: $backgroundNavbar;
    border-bottom: 2px solid $gray7;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;

    button:focus {
        outline: none;
    }

    button:focus-visible {
        outline: 3px solid $accent;
    }

    .container {
        display: flex;
        justify-content: space-between;
        height: $navbarHeight;
    }

    nav {
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 0.6rem;
        height: 100%;

        a {
            align-items: center;
            display: flex;
            justify-content: center;
            border-radius: 3px;
            border: 2px solid #00000000;
            color: $gray4;
            font-size: .9rem;
            font-weight: 500;
            gap: 0.4rem;
            line-height: 1.1;
            margin: .7rem;
            padding: .3rem 0;

            &:hover, &.active {
                border-bottom-color: $accent;
                color: white;
            }

            &.item.brand {
                border: 2px solid $gray7;
                background-color: $gray8;
                padding: .4rem .5rem;
                color: $gray0;
                margin-left: 0;
                margin-right: .5rem;

                &:hover {
                    background-color: $gray7;
                    border-color: $gray6;
                }
            }

            &.item:hover {
                color: white;
            }

            &.brand {
                font-size: 1.1rem;
                font-weight: 700;
                

                span {
                    white-space: nowrap;
                }
            }
        }

        img {
            max-height: 20px;
            max-width: 20px;
        }
    }
}

.navigation-inner {
    display: flex;
    font-family: $fontPost;
    height: 100%;
    margin: 0 auto;
    max-width: $pageWidth;
    padding: 0.5rem 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.toolbar-section {
    align-items: center;
    display: flex;
    flex: 0 0 116px;
    justify-content: flex-end;

    nav {
        a {
            margin-left: 1rem;
            margin-right: 0;
        }
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: $pageWidth;
    padding: 2rem;

    .small {
        max-width: 550px;
    }
}

.small {
    max-width: 550px;
}

.hero {
    padding: 1rem 0;

    header {
        padding: 2rem 0 0;
        text-align: left;
    }

    h1 {
        font-size: 2.4rem;
        margin: 0;
        color: white;
        font-weight: 700;
        line-height: 1.1;
    }

    p {
        &.subtitle {
            margin-top: 1.5rem;
            font-size: 1.2rem;
        }
    }

    .hero-buttons {
        display: flex;
        gap: 1.5rem;
    }

    .flex-content {
        align-items: center;
    }
}

.hero-buttons {
    a {
        &.hero-button {
            align-items: center;
            border: none;
            color: $fontTextDark;
            display: flex;
            font-size: 0.9rem;
            gap: 0.4rem;
            justify-content: space-between;

            &:hover {
                background: #00000000;
                border: none;
                color: $fontText;
            }

            img {
                display: block;
                max-height: 18px;
            }
        }
    }
}

.main-image {
    border: 1px solid $borderLight;
    border-radius: 8px;
    height: auto;
    margin-left: 2rem;
    width: 250px;
}

.main-header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    a {
        font-size: 1rem;
    }

    span {
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: 0;
    }
}

.search-bar {
    grid-gap: 1rem;
    align-items: center;
    display: grid;
    grid-template-columns: auto;
}

.search-input {
    -webkit-appearance: none;
    background: $inputBackground;
    border: 1px solid $borderLight;
    border-radius: 8px;
    color: $fontTextBright;
    font-size: 1.1rem;
    line-height: 1.1;
    padding: 0.75rem 1rem;
    width: 100%;

    &:focus {
        outline: none;
        box-shadow: 1px 1px 1px $accent;
        filter: brightness(1.1);
    }

    &:active,
    &:focus,
    &:hover {
        border-color: $accent;
    }
}

.highlighted {
    background: $accent;
    color: $fontTextBrightInvert;
}

.search-icon {
    max-width: 30px;
}

.blog-page {
    h2 {
        border-bottom: 1px solid $borderLight;
        margin-top: 2.5rem;
    }
}

.post-details {
    color: $fontTextDark;
    font-family: $fontPost;
    font-size: 0.9rem;
    margin: 0.5rem 0;

    a {
        border-bottom: none;
    }
}

.tags {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-family: $fontPost;
    gap: 0.5rem;
    justify-content: center;
    margin: 1.5rem 0;

    a {
        border: 1px solid $borderLight;
        border-radius: 8px;
        color: $fontTextBright;
        display: inline-block;
        font-size: .9rem;
        font-weight: 600;
        line-height: normal;
        padding: 0.4rem 0.6rem;
        vertical-align: middle;

        &:hover {
            border: 1px solid $accent;
            background: $background;
            color: $accent;
        }
    }
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.photo-element {
    padding: 3px;

    a {
        background: transparent;
        border: 0;

        &:hover {
            background: transparent;
            border: 0;
        }
    }
}

#resume {
    header {
        text-align: left;
    }

    .container {
        padding-top: 0;
    }

    section {

        h2,
        h3,
        h4,
        h5 {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        h2 {
            margin-top: 2.5rem;
            font-size: 1.1rem;
            text-transform: uppercase;
            font-weight: 400;
            border-bottom: 1px solid $borderLight;
        }

        h3 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 400;
            font-size: 1.5rem;
            margin-bottom: 0.5rem;

            span {
                display: block;
                font-size: 1rem;
                font-weight: 400;
            }
        }

        li {
            margin-bottom: 0.5rem;
        }

        p,
        li {
            font-size: 1rem;
            line-height: 1.3;
        }
    }
}

.footer {
    background: transparent;
    border-top: 2px solid transparent;
    font-family: $fontPost;
    padding: 3rem 0;

    section {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    img {
        display: inline-block;
        max-height: 20px;
        width: auto;
    }

    nav {
        display: flex;
        gap: 0.25rem;
        margin: 0 1rem;
    }

    a,
    span {
        align-items: center;
        color: $gray2;
        display: flex;
        font-size: .9rem;
        line-height: 1.2;
        padding: 0 0.5rem;
    }

    .copyright {
        color: $gray2;
    }
}

.main-footer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.gatsby-highlight {
    font-size: 0.9rem;
}

@media screen and (max-width: 800px) {

    p,
    ol,
    ul,
    table,
    blockquote {
        font-size: 1rem;
        margin: 0 0 1.5rem;
    }

    .flex-content {
        flex-direction: column;
        gap: 0.5rem;
    }

    main {
        margin-top: 60px;
    }

    ul,
    ol {
        padding-left: 1rem;
    }

    .sidebar,
    .navigation nav.social-nav {
        display: none;
    }

    .navigation-inner {
        padding-right: 0;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .navigation {
        nav {
            gap: 0.5rem;

            a {
                flex-direction: column;
                gap: 0.25rem;
                margin: .3rem;

                &:hover {
                    background: transparent;
                }

                &.brand {
                    margin-left: 0;
                    padding: 0;
                    font-size: 0.9rem;
                    margin-right: 0;
                }
            }

            img {
                max-width: 20px;
            }

            .brand-section {
                flex: initial;
            }
        }

        button.theme-switcher {
            margin-left: 0;
            min-width: auto;
            margin-right: -0.5rem;
        }
    }

    .toolbar-section {
        margin-left: 0;
        flex: initial;
    }

    .projects {
        grid-template-columns: repeat(2, 50%);
        grid-gap: 1rem;

        .stars {
            justify-content: center;
        }
    }

    .desktop-only {
        display: none !important;
    }

    .hero {
        padding: 0;

        h1 {
            font-size: 2.25rem;
        }

        header {
            padding: 1rem 0 0;
        }

        .container {
            padding-bottom: 1rem;
        }

        p {
            &.subtitle {
                font-size: 1.2rem;
            }
        }

        .flex-content {
            align-items: flex-start;
        }


        .hero-buttons {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
        }

    }

    .post-image {
        max-width: 75px;
        max-height: 75px;
    }

    .main-image {
        margin: 0 0 1rem 0;
        width: 150px;
    }

    .flex-content {
        div {
            order: 2;
        }

        img {
            order: 1;
        }
    }

    .container {
        padding: 1rem;
    }

    article {
        padding-bottom: 0;

        h1 {
            font-size: 2.3rem;
            line-height: 1.2;
        }

        h2 {
            font-size: 1.8rem;
        }

        header {
            padding-top: 1.5rem;
        }

        .description {
            font-size: 1.25rem;
        }
    }

    a.post h3 {
        font-size: 1.05rem;
    }

    .project img {
        max-height: 50px;
    }

    .photo-element {
        width: 100% !important;
    }
}

@media screen and (min-width: 800px) {
    table {
        display: table;
        border: 1px solid var(--light-border-color);
        -webkit-text-size-adjust: none;
    }

    thead,
    tbody {
        white-space: normal;
        -webkit-text-size-adjust: none;
    }

    th,
    td {
        -webkit-text-size-adjust: none;
    }

    .hero {
        h1 {
            font-size: 3rem;
        }
    }

    .navigation {
        .container {
            height: $navbarHeight + 20;
        }

        .logo {
            margin-right: .5rem;
        }

        nav {
            a {
                &.item.brand {
                    padding: .6rem .8rem;
                }
            }
        }        
    }

    .main-header {
        span {
            font-size: 1.7rem;
        }
    }
}

@media screen and (min-width: 500px) {
    .navigation {
        nav {
            a {
                font-size: 1.05rem;
            }

            a.item.brand {
                margin-right: 1.3rem;
            }
        }
    }
}